<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
   <!-- CONFIGURACIÓN WIDGET -->
   <div class="row">
    <div class="card text-center col-md-12">
        <div class="card-header text-center" style="width:100%;">
            <h1>WIDGETS-p64</h1>
        </div>
        <div class="row">
            <!-- SELECTOR DE WIDGETS Y FORMULARIOS -->
            <div class="col-6">
                <h4>Select Widget</h4>
                <select [(ngModel)]="opcionSeleccionada" style="width:75%;height:30px;"
                            placeHolder="Seleccionando Widget-p64"
                            (change)="configRx=configIni;habilitarAddWidget=false;"
                            >
                    <option *ngFor="let opcion of opciones" [value]="opcion.id">
                        {{opcion.msn}}
                    </option>
                </select>
                <app-fnumberchart *ngIf="opcionSeleccionada==='numberChart'" (config)="actualizarConfig($event)"></app-fnumberchart>
                <app-fswitch *ngIf="opcionSeleccionada==='switch'" (config)="actualizarConfig($event)"></app-fswitch>
                <app-fbutton  *ngIf="opcionSeleccionada==='button'" (config)="actualizarConfig($event)"></app-fbutton>
                <app-findicator  *ngIf="opcionSeleccionada==='indicator'" (config)="actualizarConfig($event)"></app-findicator>
            </div>
            <!-- Vista Previa de WIDGET -->
            <div class="col-6" *ngIf="habilitarAddWidget==true">
                <app-numberchart *ngIf="opcionSeleccionada==='numberChart'" [config]="configRx"></app-numberchart>
                <app-iotswitch *ngIf="opcionSeleccionada==='switch'" [config]="configRx"></app-iotswitch>
                <app-iotbutton *ngIf="opcionSeleccionada==='button'" [config]="configRx"></app-iotbutton>
                <app-iotindicator *ngIf="opcionSeleccionada==='indicator'" [config]="configRx"></app-iotindicator>
            </div>
        </div>
        <!-- BUTTON PARA ADICIONAR WIDGET -->
        <div class="row pull-right" style="padding: 20px;" >
            <button class="btn btn-outline-success" (click)="addNewWidget()"
                    *ngIf="habilitarAddWidget"
            >ADD WIDGET</button>
        </div>
    </div>
   </div>
   <!-- Vista previa del DASHBOARD -->
   <div class="card text-center col-md-12" *ngIf="widgets.length>0" style="padding:10px;">
    <div class="row">
        <div *ngFor="let widget of widgets;let i=index" class="{{widget.column}}">
            <i class="fa fa-trash text-warning pull-right" (click)="delWidget(i)"><br></i>
            <app-numberchart *ngIf="widget.widget==='numberChart'" [config]="widget"></app-numberchart>
                <app-iotswitch *ngIf="widget.widget==='switch'" [config]="widget"></app-iotswitch>
                <app-iotbutton *ngIf="widget.widget==='button'" [config]="widget"></app-iotbutton>
                <app-iotindicator *ngIf="widget.widget==='indicator'" [config]="widget"></app-iotindicator>

        </div>
    </div>

   </div>
   <!-- GRABAR TEMPLATE -->
   <div class="row" *ngIf="widgets.length>0">
    <div class="card text-center col-md-12">
        <div class="card header text-center" style="width:100%;">
            <h3>SAVE Templateº</h3>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form group">
                    <label>Template Name:</label>
                    <input type="text" class="form-control" placeholder="Template Name"
                        [(ngModel)]="template.name" >
                </div>
            </div>
            <div class="col-8">
                <div class="form group">
                    <label>Template Description:</label>
                    <input type="text" class="form-control" placeholder="Template Description"
                        [(ngModel)]="template.description" >
                </div>
            </div>
        </div>
        <br>
        <div class="row pull-right" style="padding:20px;">
            <button class="btn btn-outline-success"
                    *ngIf="widgets.length>0"
                    (click)="saveTemplate()">SAVE TEMPLATE</button>
        </div>
    </div>
   </div>
   <!-- TABLA DE TEMPLATES -->
   <div class="row" *ngIf="templates.length>0">
        <div class="card text-center col-md-12">
            <div class="card-header text-center" style="width:100%;">
                <h3>Templates</h3>
            </div> 
            <div class="row">
                <table class="table">
                    <thead class="text-primary">
                        <th>Item</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Widgets</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let templateF of templates;let i=index">
                            <td>{{i+1}}</td>
                            <td>{{templateF.name}}</td>
                            <td>{{templateF.description}}</td>
                            <td class="text-center" *ngIf="templateF.widgets!==undefined">{{templateF.widgets.length}}</td>
                            <td>
                                <div class="row" style="justify-content: center;align-content: center;">
                                    <div class="col" style="vertical-align: middle;">
                                        <button type="button" rel="tooltip" title="Delete"
                                                class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral"
                                                (click)="deleteTemplate(i)" style="vertical-align:middle;background: #de1010;">
                                            <i class="now-ui-icons ui-1_simple-remove" style="color:#fff"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>


                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
   </div>
</div>
